[submodule "flashtool/third_party/qmqtt"]
	path = flashtool/third_party/qmqtt
	url = https://github.com/emqx/qmqtt
[submodule "flashtool/libbcrypt"]
	path = flashtool/libbcrypt
	url = https://github.com/rg3/libbcrypt
